<h1>Second page</h1>

<ol>
  <li *ngFor="let item of [].constructor(20)">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet
      mattis aliquam. Donec purus nisl, facilisis ut finibus placerat, interdum
      vitae ex. Etiam molestie dictum nulla nec pellentesque. Donec venenatis
      quis diam eget tempus. Nunc ut dolor nec augue sollicitudin imperdiet.
      Donec non sapien turpis. Proin suscipit orci id tellus aliquam, sed
      pellentesque elit facilisis. Sed a elit magna. Praesent ac arcu faucibus,
      lacinia odio ut, vehicula leo. Cras eu velit vitae justo suscipit
      pulvinar. Curabitur eget consequat mi. Cras dignissim nibh nec dolor
      auctor, laoreet aliquam nisi rutrum. In tincidunt massa eget orci
      tristique, quis laoreet nunc iaculis. Vivamus ultricies leo nulla, a
      commodo odio ultrices ac.
    </p>
    <a routerLink="/first">Go to first page</a>
  </li>
</ol>
