<h1>First page</h1>

<ol>
  <li *ngFor="let item of [].constructor(20)">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non
      auctor risus, at ultrices massa. Fusce faucibus euismod mauris. Sed et mi
      id neque condimentum ullamcorper. Pellentesque eget urna arcu. Nulla
      faucibus dui vel nisl molestie porta. Maecenas sagittis nibh a metus
      hendrerit placerat. Fusce id commodo nunc. Fusce sagittis urna arcu, eu
      aliquet massa imperdiet at. Fusce sed nisi sem. Vivamus at tellus et ipsum
      pellentesque dictum. Fusce eros diam, ullamcorper non laoreet ut,
      facilisis et erat. Sed porttitor magna eget dolor porta porttitor. Aliquam
      eget risus in nunc commodo auctor.
    </p>
    <a routerLink="/second">Go to second page</a>
  </li>
</ol>
